main {
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  min-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h1 {
    background: linear-gradient(
      90deg,
      rgb(249, 124, 124),
      rgb(150, 85, 255),
      rgb(225, 202, 118)
    );
    background-clip: text;
    color: transparent;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    button {
      border: none;
      outline: none;
      padding: 1rem 1.5rem;
      border-radius: 1rem;
    }

    button {
      background-color: rgb(234, 0, 43);
      cursor: pointer;
      color: whitesmoke;
      font-weight: 700;
    }
  }

  .toggleAuthForm {
    color: rgb(234, 0, 43);
    text-decoration: none;
  }
}
