.button {
  border: none;
  outline: none;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;

  transition: all 0.3s ease-in-out;

  &.primary-button {
    background-color: darkorchid;
    color: whitesmoke;
  }

  &:active {
    transform: scale(0.9);
  }
}
